.Dropdown {
    position: relative;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
}

.Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 91%;
    padding: 20px;
    text-align: center;
    background: teal;
    color: white;
}
.Dropdown__toggle {
    width: 100px;
    height: 50px;
    border: none; 
}
.Dropdown__toggle:hover {
    cursor: pointer;
    background: teal;
    border-radius: 50%;
}